header
    display: flex
    align-items: center
    justify-content: space-between
    padding: 10px 0
    height: 68px
    .logo
        height: 100%
    nav
        display: flex
        gap: 20px
