header,main
    max-width: 1280px
    margin: 30px auto
header,main,footer
    box-sizing: border-box
    width: 100%
.layout
    display: flex
    flex-direction: column
    min-height: 100vh
    width: 100%
header
    width: 100%
    box-sizing: border-box
    max-width: 1280px
    display: flex
    align-items: center
    justify-content: space-between
    padding: 10px 0
    height: 68px
    .logo
        height: 65px
    nav
        display: flex
        gap: 57px
        font-size: 1.5rem
        .nav-link.active
            text-decoration: underline

main
    flex: 1
    flex-direction: column
footer
    display: flex
    flex-direction: column
    align-items: center
    justify-content: flex-end
    height: 180px
    width: 100%
    margin: 0
    color: #fff
    font-size: 1.5rem
    gap: 20px
    background-color: #000

    .logo
        height: 40px

@media (max-width: 768px)
    header, main
        padding: 0 20px
    main
        margin: 0 auto
    header
        height: 48px
        .logo
            height: 2.875rem
        nav
            gap: 26px
            font-size: 0.75rem
            text-transform: uppercase

    footer
        font-size: 0.75rem
        gap: 0
        justify-content: center
        height: 209px

        p
            text-align: center
            width: 120px
