.home_intro
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/Home_image.jpg')
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    display: flex
    align-items: center
    justify-content: center
    border-radius: 25px
    height: 223px
    color: #fff
    h1
        font-size: 3rem
    br
        display: none

section
    margin-bottom: 60px
@media ( max-width: 1024px ) and ( min-width: 768px )
    .home_intro
        height: 150px
    .home_housing
        grid-template-columns: repeat(2, 1fr)
        gap: 20px
        padding: 10%
@media (max-width: 768px)
    .home_intro
        border-radius: 10px
        height: 120px
        h1
            width: 90%
            font-size: 1.5rem
        br
            display: block
    .home_housing
        background-color: #fff
        grid-template-columns: 1fr
        gap: 20px
        padding: 0
        width: 100%
        margin-bottom: 100px
        .home_housing_card
            aspect-ratio: 1.3/1
    section
        margin-bottom: 20px
